{% extends "cite/layout.html" %}
{% load static %}

{% block body %}
    <div>
        <h6>Objective</h6>
        <br>
        At cite.com we aim to take the fuss out of referencing with our consolidated database of books, journals, newspapers, broadsheets and many more. Just search and cite.
        <br>
        <h6>Creating an account/registering</h6>
        <br>
        First make your way to the log in page found at the top left-hand side of your screen. If you do not already have an account with us please click register here and fill in the forms shown, clicking the register button when finished. Otherwise, users who are already registered, please enter your username, password and then press log in . You will be taken to our homepage.
        <br>
        <h6>Start a new project</h6>
        <br>
        To start a new project, first you must be logged in. When logged in, select my projects from the nav bar at the top of the screen. This takes you to my projects page where you will be presented with the option to a add a project. When clicked an entry form will will appear, add you chosen name and click create project. The page will reload and you will see your new project listed below.
        <br>   
        <h6>Search for new texts</h6>
        <br>
        To search our ever growing database of books, journals, newspapers, broadsheets etc. select Search from the nav bar at the top of the screen. You will be presented with various filters which can be entirely ignored or used to filter all results, click search to see the appropriate results. Each results is viewable by clicking on the entry, the contents and infomation will be displayed.
        <br>
        <h6>Adding a citation</h6>
        <br>
        When viewing a text, Add citation button will be displayed at the top of the page. Clicking this button will take the user to a list of all their current projects sorted by date created. Select which project you want to add the citation and we will automatically add the correct citation to your project.
    </div>
{% endblock %}

{% block script %}
{% endblock %}