{% extends "wmi/layout.html" %}

{% block body %}

<div class="container">                                          
    {% if emptyField %}
        <div class="alert alert-danger" role="alert">
            message
        </div>
    {% else %}
    {% endif %}
</div>
    
    <h2>Create New Listings</h2>

    <form action="{% url 'addnewmanuscript' %}" method="POST">     <!--Bootstrap styled form-->
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" id="title"  placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" name="location" class="form-control" id="location"  placeholder="Enter Location">
        </div>
        <div class="form-group">
            <label for="YearTo">Year From</label>
            <input type="number" min="0" name="YearFrom" class="form-control" id="YearFrom"  placeholder="Enter Earliest Date Range">
        </div>
        <div class="form-group">
            <label for="YearTo">Year To</label>
            <input type="number" min="0" name="YearTo" class="form-control" id="YearTo"  placeholder="Enter Latest Date Range">
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            <input type="text" name="tags" class="form-control" id="tags"  placeholder="Enter Tags">
        </div>
        <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" name="imageUrl" class="form-control" id="imageUrl"  placeholder="Enter Image URL">
        </div>
        <div class="form-group">
            <label for="Transcript">Transcript/Description</label>
            <textarea name="Transcript" class="form-control" id="Transcript" rows="3" placeholder="Please enter the contents of this manuscript that can be read or any other relevant description"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Add Manuscript</button>
    </form>

{% endblock %}