{% extends "wmi/layout.html" %}

{% block body %}
    <img src="{{ manuscript.imageurl }}" alt="{{ manuscript.title }}" height="450px">
    <ul class="list-group">
        <li class="list-group-item">id: {{ manuscript.poster }}</li>
        <li class="list-group-item">id: {{ manuscript.id }}</li>
        <li class="list-group-item">title: {{ manuscript.title }}</li>
        <li class="list-group-item">location: {{ manuscript.location }}</li>
        <li class="list-group-item">Date Range: {{ manuscript.yearfrom }} - {{ manuscript.yearto }}</li>
        <li class="list-group-item">tags: {{ manuscript.tags }}</li>
        <li class="list-group-item"><p>Transcript: {{ manuscript.transcript }}</p></li>
    </ul>`

{% endblock %}