.page-selection-div{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pagenumberid{
    margin: 5px;
}

.body{
    margin-inline: 10px;
}

#buttondiv {
    display: flex;
    flex-direction: row;
    
}

#buttondiv button{
    margin-inline: 5px;
}