{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div id="posts-view">
    </div>  

    <div>
        <h1 id="pagenumber" hidden>{{ posts.number }}</h1>

        {% if posts.has_previous %}
            <a href="{% url 'myFollowing' %}?page={{ posts.previous_page_number }}">Previous Page</a>
        {% endif %}
        {% if posts.has_next %}
            <a href="{% url 'myFollowing' %}?page={{ posts.next_page_number }}">Next Page</a>
        {% endif %}
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/following.js' %}"></script>
{% endblock %}