{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <div id="new-post-div">
        <form id="new-post-form">
            {% csrf_token %}
            <div class="form-group">
                <input disabled hidden class="form-control" id="poster-name" value="{{ request.user.username }}">
            </div>
            <textarea class="form-control" id="post-body" placeholder="Enter your post"></textarea>
            <input type="submit" class="btn btn-outline-primary btn-lg mt-3"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script   src="{% static 'network/network.js' %}"></script>
{% endblock %}
