{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <div id="new-post-div">
        <form id="new-post-form">
            {% csrf_token %}
            <div class="form-group">
                <input disabled hidden class="form-control" id="poster-name" value="{{ request.user.username }}">
            </div>
            <textarea class="form-control" id="post-body" placeholder="Enter your post"></textarea>
            <input type="submit" class="btn btn-outline-primary btn-lg mt-3"/>
        </form>
    </div>
    <div>
        {% for post in allPosts %}
            <div class="card m-3">
                <div class="card-body d-flex flex-column">
                    <a href="{% url 'view_profile' profile_owner=post.poster %}"><h1>{{ post.poster }}</h1></a>
                    <h1>{{ post.body }}</h1>
                    <h1>Likes: {{ post.likes }}</h1>
                    <h1>{{ post.timestamp }}</h1>
                </div>
            </div>
        {% endfor%}
    </div>
{% endblock %}

{% block script %}
    <script   src="{% static 'network/network.js' %}"></script>
{% endblock %}
