{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="profile_information">
        <h1 id="profile-userid"  hidden>{{ UserID }}</h1>
        <h1 hidden>{{ profileData.id }}</h1>
        <h1 id="currentusername">{{ profileData.profile_owner }}</h1>
        <h1>{{ profileData.bio }}</h1>
        <h1>Followers: {{ followercount }}</h1>
        <h1>Following: {{ followingcount }}</h1>
        
    </div>
    <div>
        {% if follow_unfollow != "currentuser" and user.is_authenticated %}
            <button id="follow_button">{{ follow_unfollow }}</button>
        {% endif %}
    </div>

    <div id="profileinfo">
    </div>

    <div id="posts-view">
    </div>  

    <div>
        <h1 id="pagenumber" hidden>{{ posts.number }}</h1>

        {% if posts.has_previous %}
            <a href="{% url 'view_profile' username=profileData.profile_owner  %}?page={{ posts.previous_page_number }}">Previous Page</a>
        {% endif %}
        {% if posts.has_next %}
            <a href="{% url 'view_profile' username=profileData.profile_owner  %}?page={{ posts.next_page_number }}">Next Page</a>
        {% endif %}
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}