{% extends "auctions/layout.html" %}

{% block body %}
    {% if chosenCategory == ""  %}
        <h2>Active Listings</h2>
    {% else %}
        <h2>{{chosenCategory}}</h2>
    {% endif %}

    <div class="row">
        <form action="{% url 'selectedCategory' %}" method="POST">
            {% csrf_token %}
            <label for="category" class="ml-3">Category:</label>
                <select name="category" class="form-select">
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>            
                    {% endfor %}
                </select>
            <button type="submit" class="btn btn-warning mx-2" >Filter</button>
        </form>
        <form action="{% url 'index' %}" method="POST"> 
            {% csrf_token %}
            <button type="" class="btn btn-outline-primary" >Clear Filter</button>                 <!--The filter can be clear by using another form that takes us back to the index url-->
        </form>
    </div>

    <div class="row">
        {% for listing in listings %}
           <div class="card m-3" style="width: 23vw;">                                     <!--Bootstrap cards are great for making little eaby or FB marketplace looking listings -->
                <img class="card-img-top" src="{{ listing.imageUrl }}" alt="{{ listing.title }}">
                <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text" >{{ listing.description }}</p>   <!--STYLE THIS EVEN MORE!!! MAYBE AS INLINE BLOCK SO MULTIPLE LISTINGS ON ONE ROW!!!!!-->
                <a href="{% url 'listing' id=listing.id %}" class="align-end btn btn-lg btn-block btn-primary">View Listing</a>
                </div>
            </div>
        {%  endfor %}
    </div>

{% endblock %}