{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container">
        {% if currentUser != listing.owner and listing.highestBidder == currentUser %}                                       
                <div class="alert alert-success" role="alert">
                    <b>You are currently the highest bidder!!!!</b>
                </div>
        {% endif %}
    </div>

    {% if message %}
        <div class="container">                                       
            <div class="alert alert-danger" role="alert">
                <b>{{ message }}</b>
            </div>
        </div>
    {% endif %}



    {% if not listing.isActive and user == listing.highestBidder %}                              <!--THIS DEFINETLY NEEDS SOME WORK-->
        <div class="alert alert-success" role="alert">
            The auction has ended. Congratulations you were the highest bidder. You have won the auction!!
        </div>
    {% elif not listing.isActive and user != listing.highestBidder and user != listing.owner %} 
    <div class="alert alert-danger" role="alert">
        The auction has ended. Sadly, you did not win this item. Better luck next time.
    </div>
    {% endif %}
    
    <div class="row ml-1">
        {% if user.is_authenticated %}
            {% if isOwner and listing.isActive %}
                <form action="{% url 'endAuction' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning mb-2" >End Auction</button>
                </form>
            {% endif %}
            {% if not isOwner and isListingInWatchlist%}
                <form action="{% url 'removeFromWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning mb-2" >Remove From Watchlist</button>
                </form>
            {% elif not isOwner %}
                <form action="{% url 'addToWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning mb-2" >Add to Watchlist</button>
                </form>
            {% else %}
            {% endif %}
        {% endif %}
    </div>


    <h2>{{ listing.title }}</h2>
    <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="450px">
    <p>{{ listing.description }} </p>
    <div class="row ml-0">
        <h6>Starting Price: £{{ listing.highestBid }} </h6>
        <h6 class="ml-3" style="color: blue;">bids: {{ listing.bidCounter }}</h6>
    </div>
    
    {% if isOwner%}
        <p>Seller: {{ listing.owner }}. This is your listing. Good Luck!</p>
    {% else %}  
        <p>Seller: {{ listing.owner }}</p>                               
    {% endif %}
    {% if not isOwner and user.is_authenticated and listing.isActive  %}   
        <form action="{% url 'addBid' id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="number" min="0" name="newBid" class="form-control" placeholder="Enter a Bid">
                <button type="submit" class="btn btn-warning mt-2">Submit Bid</button>
            </div>
        </form>
    {% endif %}

    <div>
        {% if user.is_authenticated and listing.isActive %}            
            <form action="{% url 'addComment' id=listing.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="newComment" class="form-control" placeholder="Enter a Comment">
                    <br>
                    <button type="submit" class="btn btn-warning mb-2">Submit Comment</button>
                </div>
            </form>
        {% endif %}
    </div>
    <br>

    <ul class="list-group">
        {% for comment in allComments %}
            <p><b>{{ comment.author }}</b>:  {{ comment.message }}</p>               
        {% endfor %}
    </ul>

{% endblock %}