{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row mx-1">
        <h2>My Listings</h2>
        <form action="{% url 'myListings' %}" method="POST" class="mt-1">
            {% csrf_token %}
            <label for="status" class="ml-3">Status:</label>
                <select name="status" class="form-select">
                    <option hidden selected value="{{ status }}"> {{status}} </option>
                    <option value="All"> All</option>
                    <option value="Active">Active</option>
                    <option value="Ended">Ended</option>            
                </select>
            <button type="submit" class="btn btn-warning mx-2" >Filter</button>
    </div>

    <div class="row">
        {% for listing in listings %}
           <div class="card m-3" style="width: 23vw;">                                     <!--Bootstrap cards are great for making little eaby or FB marketplace looking listings -->
                <img class="card-img-top" src="{{ listing.imageUrl }}" alt="{{ listing.title }}">
                <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text" >{{ listing.description }}</p>   <!--STYLE THIS EVEN MORE!!! MAYBE AS INLINE BLOCK SO MULTIPLE LISTINGS ON ONE ROW!!!!!-->
                <b>Current Price: £{{ listing.highestBid }}  ({{ listing.bidCounter }} bids) </b>
                <a href="{% url 'listing' id=listing.id %}" class="align-self-end btn btn-lg btn-block btn-primary">View Listing</a>
                </div>
            </div>
        {%  endfor %}
    </div>

{% endblock %}