head{
    display: none;
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body{
    min-width: 400px;
}

body, input, button{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
}

body{
    background: #fff;
    display: block;
}

#page-buttons{
    position: absolute; top: 0; right: 0;
}

#googlelogo{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#imagestext{
    position: fixed;
    top: 43.5%;
    left: 55.5%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
}

#google-search{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#centerform{    /* style taken from google */
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}

#searchbar{
    height: 46px;
    border-radius: 30px;
}


#googlelogocorner img{
    height: 24px;
    width: 74px;
    position: absolute; top: 18px; left: 20px; 
}

#appbar{
    color: #d93025;
    font-size: 20px;
    margin: 81px 35px;
    margin-bottom: 0px;
}

#line1 hr{
    margin-top: 25px;
    background-color: lightgray;
    height: 1px;
    border: none;
}


#line2 hr{
    margin-top: 25px;
    background-color: lightgray;
    height: 1px;
    border: none;
}

#toptext{
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 30px;
}

#Find-pages-with{
    float: left;
    width: 16%;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    padding-right: 490px;
}

#formsdiv div{
    display: flex;
    padding: 20px;
    padding-left: 40px;
}


#top4{
    width: 579px;
    position: absolute; left: 12%;

}

#bottoml{
    width: 200px;
    position: absolute; left: 12%;

}

#to{
    position: absolute; left: 25%; top: 47.5%;
}


#bottomr{
    width: 200px;
    position: absolute; left: 32%;
}

#formsdiv small{
    position: absolute; left: 45%;
}

#searchbutton{
    background-color: #4d90fe; 
    color: #fff;
    border-radius: 2px;
    height: 30px;
    font-size: 11px;
    border: none;
    position: fixed; top: 60%; left: 37.75%;
}

