{% extends "cite/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}
      <div id="searchform">
          <div class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle">
          </div>
          <div class="form-group">
            <label for="inputAuthor">Author</label>
            <input type="text" class="form-control" id="inputAuthor">
          </div>
          <div class="form-group">
            <label for="inputPublisher">Publisher</label>
            <input type="text" class="form-control" id="inputPublisher">
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputYearFrom">Year From</label>
              <input type="text" class="form-control" id="inputYearFrom">
            </div>
            <div class="form-group col-md-2">
              <label for="inputYearTo">Year To</label>
              <input type="text" class="form-control" id="inputYearTo">
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="searchbutton">Search</button>
      </div>
      <div id="results-view">
      </div>
    {% else %}
      <div id="welcomediv">
        <h1>Please sign in</h1>
      </div>
    {% endif %}
</body>
{% endblock %}

{% block script %}
    <script src="{% static 'cite/search.js' %}"></script>
{% endblock %}